apiVersion: mirror.openshift.io/v1alpha2
kind: ImageSetConfiguration
storageConfig:
  local:
    path: /home/ec2-user/
mirror:
  platform:
    channels:
      - name: stable-OCP_MAJ_VER
        minVersion: OCP_MIN_VER
        maxVersion: OCP_MAX_VER
    graph: true # Include Cincinnati upgrade graph image in imageset
  operators:
    - catalog: registry.redhat.io/redhat/redhat-operator-index:vOCP_MAJ_VER
      packages:
        - name: cincinnati-operator
          channels:
            - name: cincinnati-operator-CHANNEL
              minVersion: cincinnati-operator-VERSION
        - name: cluster-logging
          channels:
            - name: cluster-logging-CHANNEL
              minVersion: cluster-logging-VERSION
        - name: compliance-operator
          channels:
            - name: compliance-operator-CHANNEL
              minVersion: compliance-operator-VERSION
        - name: file-integrity-operator
          channels:
            - name: file-integrity-operator-CHANNEL
              minVersion: file-integrity-operator-VERSION
        - name: rhsso-operator
          channels:
            - name: rhsso-operator-CHANNEL
              minVersion: rhsso-operator-VERSION
