[Unit]
Description=Configure Quay on FirstBoot
Wants=network.target
After=network-online.target
ConditionPathExists=!/etc/sysconfig/rh-quay-firstboot

[Service]
Type=oneshot
ExecStart=/usr/bin/quayinit.sh

[Install]
WantedBy=multi-user.target default.target

