{
    "name": "QuayRegistryPipeline",
    "description": "Quay Registry App",
    "enhancedImageMetadataEnabled": true,
    "imageRecipeArn": "{{ image_recipe_arn }}",
    "infrastructureConfigurationArn": "{{ infra_config_arn }}",
    "distributionConfigurationArn": "{{ dist_config_arn }}",
    "imageTestsConfiguration": {
        "imageTestsEnabled": true,
        "timeoutMinutes": 60
    },
    "schedule": {
        "scheduleExpression": "cron(0 8 1 * ? *)",
        "pipelineExecutionStartCondition": "EXPRESSION_MATCH_AND_DEPENDENCY_UPDATES_AVAILABLE"
    },
    "status": "ENABLED"
}
