{
    "name": "QuayRegistryInfrastructure",
    "description": "Quay Registry App",
    "instanceTypes": [
        "{{ instance_type }}"
    ],
    "instanceProfileName": "{{ instance_profile }}",
    "securityGroupIds": [
        "{{ sg_id }}"
    ],
    "subnetId": "{{ subnet_id }}",
    "logging": {
        "s3Logs": {
            "s3BucketName": "{{ bucket_name }}",
            "s3KeyPrefix": "Logs"
        }
    },
    "keyPair": "{{ keypair }}",
    "terminateInstanceOnFailure": true
}

