{
    "name": "RegistryComponent",
    "semanticVersion": "1.0.0",
    "description": "Quay Registry",
    "changeDescription": "Initial version.",
    "platform": "Linux",
    "uri": "s3://{{ bucket_name }}/component_config.yaml",
    "tags": {
        "App": "Quay Registry"
    }
}
