{
    "name": "QuayRegistryDistribution",
    "description": "Quay Registry App",
    "distributions": [
        {
            "region": "us-east-1",
            "amiDistributionConfiguration": {
                "name": "Name {{ '{{ imagebuilder:buildDate }}' }}",
                "description": "Quay Registry AMI",
                "amiTags": {
                    "Name": "QuayRegistry"
                },
                "launchPermission": {
                    "userIds": [
                        "{{ caller_info.account }}"
                    ]
                }
            }
        }
    ]
}
